# Directories
ExpAnalysis

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.sconsign.dblite

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.csv
*.html
*.xml
*.swp
*.o
*.a
*.txt
*.gz
*.out
*.log
*.so
*.bbl
*.blg
*.aux
*.bin
*.dat
*.tar
